<!DOCTYPE html>
<html lang="en">
<head th:insert="~{layout::head}">
    <meta charset="UTF-8">
</head>
<body>

<nav th:insert="~{layout::nav-crud}"></nav>

<br>

<div class="col-sm-6">

    <form th:action="@{/categoria/guardar}" method="post" th:object="${categoria}">
        <div class="card">
            <div class="card-header">
                <h3>Datos del Categoria</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" th:field="*{idcategoria}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" th:field="*{nomcat}" class="form-control" required>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success">
                </div>
            </div>
        </div>

    </form>

</div>

</body>
</html>